{% extends 'base.html.twig' %}

{% block title %} Stock: modification{%endblock%}

{% block body %}
  <h2 class = "page header">Modifier stock</h2>
  {{form_start(l)}}
  {{form_widget(l)}}
  {{form_end(l)}}
{%endblock%}
