{% extends 'base.html.twig'%}
{%block menu %} {% endblock menu %}
{% block body %}
<h1> Bienvenue dans l'application de gestion de stock   </h1>
{{include ('_menu.html.twig', {'color' : 'green'}) }}
{% endblock body %}